.fb-inst.firebox-embedded-campaign{position:initial;top:initial;left:initial;z-index:initial;display:initial;width:initial;height:initial;-webkit-box-align:initial;-ms-flex-align:initial;align-items:initial;-webkit-box-pack:initial;-ms-flex-pack:initial;justify-content:initial}.fb-inst.firebox-embedded-campaign .fb-backdrop{display:none !important}

